# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/App/node_modules
/App/.pnp
/App/.pnp.js

# testing
/App/coverage

# production
/App/build

# misc
.DS_Store
/App/.env.local
/App/.env.development.local
/App/.env.test.local
/App/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/workspace.xml
.idea/
/App/.idea
/TodoApi/.idea

